body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    margin: 0 20px;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.row-content-2 {
    padding: 0;
    margin: 0;
    width: 100%
}

.navbar {
    background-color: #901CAD;
}

.site-footer{
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.tab-content {
    border: none;
    border-top: none;
    padding: 40px;
}


element.style {
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
}
.carousel-caption h2 {
    color: #fff;
}
.carousel-caption {
    padding-bottom: 32px;
}

/*
Removes white gap between slides
*/
.carousel {
    background:rgb(52, 16, 214);
  }
  
  /*
  Forces image to be 100% width and not max width of 100%
  */


  .carousel-item .img-fluid {
    width:100%;
    height:auto;
  }
  
  /* 
  anchors are inline so you need ot make them block to go full width
  */
  .carousel-item a {
    display: block;
    width:100%;
  }